@charset "UTF-8";
@font-face {
  font-family: "Forum";
  font-display: swap;
  src: url("../fonts/Forum-Regular.woff2") format("woff2"), url("../fonts/Forum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/FuturaPT-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SegoeUI";
  font-display: swap;
  src: url("../fonts/SegoeUI-Italic.woff2") format("woff2"), url("../fonts/SegoeUI-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "FuturaPT";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "FuturaPT";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 69.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1.25rem;
}
@media (min-width: 71.625em) {
  .spollers {
    column-gap: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .spollers {
    column-gap: clamp( 1.875rem , 0.1800847458rem  +  8.4745762712vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .spollers {
    column-gap: 1.875rem;
  }
}
@media (max-width: 61.99875em) {
  .spollers {
    flex-direction: column;
  }
}

@media (min-width: 61.99875em) {
  .spollers__item_big-size {
    flex: 0 0 8.25rem;
  }
}
@media (max-width: 61.99875em) {
  .spollers__item {
    width: 100%;
  }
}

.spollers__title {
  position: relative;
  width: 100%;
  margin-bottom: 1.875rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  cursor: default;
}
@media (max-width: 61.99875em) {
  .spollers__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.9375rem;
  }
}
._spoller-init .spollers__title {
  cursor: pointer;
}
._spoller-init .spollers__title::before, ._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #fff;
  height: 0.125rem;
  width: 0.75rem;
  transition: transform 0.5s ease 0s;
}
._spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
._spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
._spoller-init .spollers__title._spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
._spoller-init .spollers__title._spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body > *:not(:last-child) {
  margin-bottom: 0.9375rem;
}

[data-showmore-button] span:last-child {
  display: none;
}
._showmore-active [data-showmore-button] span {
  display: none;
}
._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

.block__more {
  color: rgb(28, 151, 12);
}
.block__more span {
  color: red;
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.row-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
@media (min-width: 71.625em) {
  .row-header__logo svg {
    width: 16.125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .row-header__logo svg {
    width: clamp( 7.4375rem , 4.0718825666rem  +  16.8280871671vw , 16.125rem );
  }
}
@media (max-width: 20em) {
  .row-header__logo svg {
    width: 7.4375rem;
  }
}
.row-header__logo_black-color {
  fill: #272727;
  mix-blend-mode: normal;
}
@media (max-width: 35.93625em) {
  .row-header__logo_black-color {
    fill: #fff;
    mix-blend-mode: difference;
  }
}
.row-header__logo img {
  max-width: 258px;
  width: 100%;
}
.row-header__right-item {
  display: flex;
  align-items: center;
}
@media (min-width: 71.625em) {
  .row-header__right-item {
    column-gap: 6.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .row-header__right-item {
    column-gap: clamp( 1.375rem , -0.4894067797rem  +  9.3220338983vw , 6.1875rem );
  }
}
@media (max-width: 20em) {
  .row-header__right-item {
    column-gap: 1.375rem;
  }
}
.row-icons-header {
  display: flex;
  align-items: center;
}
@media (min-width: 71.625em) {
  .row-icons-header {
    column-gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .row-icons-header {
    column-gap: clamp( 1.1875rem , 0.6790254237rem  +  2.5423728814vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .row-icons-header {
    column-gap: 1.1875rem;
  }
}
.row-icons-header__link svg path {
  transition: stroke 0.2s ease;
}
@media (any-hover: hover) {
  .row-icons-header__link:hover svg path {
    stroke: #EFC58B;
  }
}

.link-spollers {
  position: relative;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.08px;
  color: #fff;
}
.link-spollers::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.0625rem;
  background-color: #fff;
  transition: width 0.2s ease;
}
@media (any-hover: hover) {
  .link-spollers:hover::before {
    width: 100%;
  }
}

.title-contact {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #fff;
}

.contacts-footer__phone-social-media {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}
.contacts-footer__wrapper-column {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  flex-grow: 1;
}
.phone-contact {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
}
.phone-contact__link {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #C2C2C2;
  transition: color 0.2s ease;
}
@media (any-hover: hover) {
  .phone-contact__link:hover {
    color: #ececec;
  }
}

.media-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.25rem;
  row-gap: 1.25rem;
}
.media-social__link {
  flex: 0 0 2.1875rem;
  height: 2.1875rem;
}
.media-social__link svg path {
  transition: 0.3s ease;
}
@media (any-hover: hover) {
  .media-social__link:hover svg path {
    fill: #EFC58B;
  }
}

.form-footer {
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #fff;
}
.form-footer label {
  position: relative;
  flex-grow: 1;
}
.form-footer__input {
  width: 100%;
  padding: 0 0 0.75rem 0;
  background-color: transparent;
  color: #fff;
}
.form-footer__input ::placeholder {
  color: #C2C2C2;
  font-weight: 300;
  line-height: normal;
}
.form-footer__btn-arrow {
  flex: 0 0 1.75rem;
}

.form__error {
  position: absolute;
  bottom: 0rem;
  left: 0;
  font-size: 0.875rem;
  color: rgb(254, 37, 37);
}

.store-link {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}
.store-link__shop img {
  max-width: 90px;
  width: 100%;
}
.store-link__shop_google {
  max-width: 103px;
  width: 100%;
}

.arrow-btn svg path {
  transition: stroke 0.2s ease;
}
@media (any-hover: hover) {
  .arrow-btn:hover svg path {
    stroke: #EFC58B;
  }
}

.title-average {
  margin-bottom: 1rem;
  font-family: "Forum";
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  color: #fff;
}
@media (min-width: 71.625em) {
  .title-average {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .title-average {
    font-size: clamp( 2.375rem , 2.1328692494rem  +  1.210653753vw , 3rem );
  }
}
@media (max-width: 20em) {
  .title-average {
    font-size: 2.375rem;
  }
}

.card-product {
  display: flex;
  flex-direction: column;
  padding-top: 2.9375rem;
  padding-bottom: 1.25rem;
  text-align: left;
  transition: background-color 0.2s ease;
  background: #EDEDED;
}
@media (min-width: 71.625em) {
  .card-product {
    row-gap: 4.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .card-product {
    row-gap: clamp( 0.9375rem , -0.3215799031rem  +  6.2953995157vw , 4.1875rem );
  }
}
@media (max-width: 20em) {
  .card-product {
    row-gap: 0.9375rem;
  }
}
.card-product__img {
  align-self: center;
  padding: 0 0.9375rem;
}
.card-product__img img {
  max-width: 260px;
  width: 100%;
  max-height: 100%;
  height: 180px;
}
.card-product__img-ibg {
  align-self: center;
  width: 65%;
  padding-bottom: 45%;
}
.card-product__body {
  padding: 0 1.875rem;
}
@media (any-hover: hover) {
  .card-product:hover {
    background-color: #e5e5e5;
  }
}

.body-card {
  display: flex;
  flex-direction: column;
  row-gap: 0.5625rem;
}
.body-card__title {
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #fff;
}
.body-card__title_black {
  color: #272727;
}
.body-card__subtitle {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #C2C2C2;
}
.body-card__price {
  font-family: "Segoe UI";
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.54px;
  color: #E2B67A;
}
@media (any-hover: hover) {
  .body-card__link:hover {
    text-decoration: underline;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (min-width: 90em) {
  .header__row {
    min-height: 10.8125rem;
  }
}
@media (min-width: 48em) and (max-width: 90em) {
  .header__row {
    min-height: clamp( 4.375rem , -2.9821428571rem  +  15.3273809524vw , 10.8125rem );
  }
}
@media (max-width: 48em) {
  .header__row {
    min-height: 4.375rem;
  }
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  cursor: pointer;
  z-index: 5;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.6s ease 0s;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
}
.icon-menu::before {
  top: 0px;
}
.icon-menu::after {
  bottom: 0px;
}
.icon-menu span {
  top: calc(50% - 1px);
}
.menu-open .icon-menu span {
  transform: scale(0);
}
.menu-open .icon-menu::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.menu-open .icon-menu::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
@media (any-hover: hover) {
  .icon-menu:hover span, .icon-menu:hover::before, .icon-menu:hover::after {
    background-color: #EFC58B;
  }
}

.icon-menu-close {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  cursor: pointer;
  z-index: 5;
}
.icon-menu-close span, .icon-menu-close::before, .icon-menu-close::after {
  content: "";
  transition: all 0.3s ease 0s;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #fff;
}
.icon-menu-close span {
  transform: scale(0);
}
.icon-menu-close::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.icon-menu-close::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
@media (any-hover: hover) {
  .icon-menu-close:hover span, .icon-menu-close:hover::before, .icon-menu-close:hover::after {
    background-color: #EFC58B;
  }
}

.footer {
  background-color: #272727;
}
@media (min-width: 71.625em) {
  .footer {
    padding-top: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .footer {
    padding-top: clamp( 1.875rem , 0.664346247rem  +  6.0532687651vw , 5rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 1.875rem;
  }
}
@media (min-width: 71.625em) {
  .footer {
    padding-bottom: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .footer {
    padding-bottom: clamp( 1.875rem , 0.4222154964rem  +  7.2639225182vw , 5.625rem );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 71.625em) {
  .footer__top-row {
    margin-bottom: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .footer__top-row {
    margin-bottom: clamp( 3.6875rem , 2.9368946731rem  +  3.7530266344vw , 5.625rem );
  }
}
@media (max-width: 20em) {
  .footer__top-row {
    margin-bottom: 3.6875rem;
  }
}
.row-top__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}
@media (min-width: 90em) {
  .row-top__list {
    column-gap: 4.375rem;
  }
}
@media (min-width: 48em) and (max-width: 90em) {
  .row-top__list {
    column-gap: clamp( 1.375rem , -2.0535714286rem  +  7.1428571429vw , 4.375rem );
  }
}
@media (max-width: 48em) {
  .row-top__list {
    column-gap: 1.375rem;
  }
}
.row-top__link-menu {
  position: relative;
  font-size: 0.875rem;
  font-weight: 450;
  line-height: normal;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}
.row-top__link-menu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1875rem;
  width: 0;
  height: 0.0625rem;
  background-color: #fff;
  transition: width 0.2s ease;
}
@media (any-hover: hover) {
  .row-top__link-menu:hover::before {
    width: 100%;
  }
}

.row-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 2.8125rem;
}
@media (min-width: 90em) {
  .row-bottom {
    column-gap: 19.5rem;
  }
}
@media (min-width: 62em) and (max-width: 90em) {
  .row-bottom {
    column-gap: clamp( 2.5rem , -35.1428571429rem  +  60.7142857143vw , 19.5rem );
  }
}
@media (max-width: 62em) {
  .row-bottom {
    column-gap: 2.5rem;
  }
}
.row-bottom__logo {
  position: relative;
  top: -0.75rem;
}
.row-bottom__contacts {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}
@media (min-width: 71.625em) {
  .row-bottom__contacts {
    column-gap: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .row-bottom__contacts {
    column-gap: clamp( 3.75rem , 3.2657384988rem  +  2.4213075061vw , 5rem );
  }
}
@media (max-width: 20em) {
  .row-bottom__contacts {
    column-gap: 3.75rem;
  }
}

@media (max-width: 47.99875em) {
  .footer .contacts-footer__phone-social-media {
    flex-basis: 100%;
  }
}

.page__hero {
  margin-bottom: 1.25rem;
}
@media (min-width: 71.625em) {
  .page__hero {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .page__hero {
    padding-bottom: clamp( 1.875rem , 1.1486077482rem  +  3.6319612591vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .page__hero {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 90em) {
  .page__hero {
    padding-top: 11.625rem;
  }
}
@media (min-width: 48em) and (max-width: 90em) {
  .page__hero {
    padding-top: clamp( 4.375rem , -3.9107142857rem  +  17.2619047619vw , 11.625rem );
  }
}
@media (max-width: 48em) {
  .page__hero {
    padding-top: 4.375rem;
  }
}
.page__male-or-female {
  margin-bottom: 1.25rem;
}
.page__find-us {
  margin-bottom: 1.25rem;
}
.page__product {
  margin-bottom: 1.25rem;
}
.page__sliders {
  background-color: #272727;
}
@media (min-width: 71.625em) {
  .page__sliders {
    padding-top: 6.375rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .page__sliders {
    padding-top: clamp( 1.875rem , 0.1316585956rem  +  8.7167070218vw , 6.375rem );
  }
}
@media (max-width: 20em) {
  .page__sliders {
    padding-top: 1.875rem;
  }
}
@media (min-width: 71.625em) {
  .page__sliders {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .page__sliders {
    padding-bottom: clamp( 1.875rem , 0.1800847458rem  +  8.4745762712vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .page__sliders {
    padding-bottom: 1.875rem;
  }
}
.block-menu {
  position: absolute;
  top: -200%;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #272727;
  transition: top 0.3s ease;
}
@media (min-width: 71.625em) {
  .block-menu__home {
    margin-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .block-menu__home {
    margin-bottom: clamp( 1.875rem , 0.9064769976rem  +  4.8426150121vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .block-menu__home {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 71.625em) {
  .block-menu__footer {
    padding-top: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .block-menu__footer {
    padding-top: clamp( 1.875rem , 0.9064769976rem  +  4.8426150121vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .block-menu__footer {
    padding-top: 1.875rem;
  }
}
@media (min-width: 71.625em) {
  .block-menu__footer {
    padding-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .block-menu__footer {
    padding-bottom: clamp( 1.875rem , 0.9064769976rem  +  4.8426150121vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .block-menu__footer {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 90em) {
  .block-menu__top-header-row {
    min-height: 8.3125rem;
  }
}
@media (min-width: 48em) and (max-width: 90em) {
  .block-menu__top-header-row {
    min-height: clamp( 4.375rem , -0.125rem  +  9.375vw , 8.3125rem );
  }
}
@media (max-width: 48em) {
  .block-menu__top-header-row {
    min-height: 4.375rem;
  }
}
.menu-open .block-menu {
  top: 0;
}

.menu {
  background-color: #2F2F2F;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5625rem;
  padding: 0.625rem 0;
}
@media (min-width: 71.625em) {
  .menu__list {
    column-gap: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .menu__list {
    column-gap: clamp( 1.5625rem , 0.9571731235rem  +  3.0266343826vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .menu__list {
    column-gap: 1.5625rem;
  }
}
@media (min-width: 90em) {
  .menu__list {
    min-height: 4.6875rem;
  }
}
@media (min-width: 48em) and (max-width: 90em) {
  .menu__list {
    min-height: clamp( 4.375rem , 4.0178571429rem  +  0.744047619vw , 4.6875rem );
  }
}
@media (max-width: 48em) {
  .menu__list {
    min-height: 4.375rem;
  }
}
@media (max-width: 74.99875em) {
  .menu__list {
    justify-content: center;
  }
}
.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.625rem;
  display: inline-block;
  width: 0%;
  height: 0.125rem;
  background-color: #fff;
  transition: width 0.2s ease;
}
@media (any-hover: hover) {
  .menu__item:hover::before {
    width: 100%;
  }
}
.menu__link {
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.category-menu__container {
  border-bottom: 0.125rem solid #2F2F2F;
}
@media (min-width: 71.625em) {
  .category-menu__container {
    padding-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .category-menu__container {
    padding-bottom: clamp( 1.875rem , 0.9064769976rem  +  4.8426150121vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .category-menu__container {
    padding-bottom: 1.875rem;
  }
}
.block-show-more__content > *:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.block-show-more__btn {
  color: #EFC58B;
  font-family: "Segoe UI";
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.footer-menu__container {
  display: flex;
  align-items: center;
}
@media (min-width: 71.625em) {
  .footer-menu__container {
    column-gap: 5.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .footer-menu__container {
    column-gap: clamp( 3.4375rem , 2.7111077482rem  +  3.6319612591vw , 5.3125rem );
  }
}
@media (max-width: 20em) {
  .footer-menu__container {
    column-gap: 3.4375rem;
  }
}
@media (max-width: 61.99875em) {
  .footer-menu__container {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
.footer-menu__contacts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 90em) {
  .footer-menu__contacts {
    row-gap: 2.8125rem;
  }
}
@media (min-width: 62em) and (max-width: 90em) {
  .footer-menu__contacts {
    row-gap: clamp( 2rem , 0.2008928571rem  +  2.9017857143vw , 2.8125rem );
  }
}
@media (max-width: 62em) {
  .footer-menu__contacts {
    row-gap: 2rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) {
  .footer-menu__contacts {
    flex-direction: row;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) and (min-width: 62em) {
  .footer-menu__contacts {
    column-gap: 7.5rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) and (min-width: 48em) and (max-width: 62em) {
  .footer-menu__contacts {
    column-gap: clamp( 6.125rem , 1.4107142857rem  +  9.8214285714vw , 7.5rem );
  }
}
@media (max-width: 61.99875em) and (min-width: 47.99875em) and (max-width: 48em) {
  .footer-menu__contacts {
    column-gap: 6.125rem;
  }
}
@media (max-width: 47.99875em) {
  .footer-menu__contacts {
    width: 100%;
  }
}

.baner-img {
  flex: 0 0 67.0250896057%;
  padding-bottom: 24.0143369176%;
  border-radius: 2px;
  overflow: hidden;
}
@media (max-width: 61.99875em) {
  .baner-img {
    width: 77.82%;
    padding-bottom: 27.9%;
  }
}
@media (max-width: 47.99875em) {
  .baner-img {
    width: 100%;
    padding-bottom: 36%;
  }
}
.baner-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.5);
}
.baner-img__body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media (min-width: 90em) {
  .baner-img__body {
    row-gap: 3.375rem;
  }
}
@media (min-width: 62em) and (max-width: 90em) {
  .baner-img__body {
    row-gap: clamp( 1.875rem , -1.4464285714rem  +  5.3571428571vw , 3.375rem );
  }
}
@media (max-width: 62em) {
  .baner-img__body {
    row-gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .baner-img__body {
    row-gap: clamp( 0.75rem , -1.125rem  +  9.375vw , 3.375rem );
  }
}
@media (max-width: 20em) {
  .baner-img__body {
    row-gap: 0.75rem;
  }
}
@media (min-width: 90em) {
  .baner-img__body {
    padding: 1.875rem;
  }
}
@media (min-width: 62em) and (max-width: 90em) {
  .baner-img__body {
    padding: clamp( 0.9375rem , -1.1383928571rem  +  3.3482142857vw , 1.875rem );
  }
}
@media (max-width: 62em) {
  .baner-img__body {
    padding: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .baner-img__body {
    padding: clamp( 0.625rem , -0.2678571429rem  +  4.4642857143vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .baner-img__body {
    padding: 0.625rem;
  }
}
@media (max-width: 29.99875em) {
  .baner-img__body {
    text-align: center;
  }
}
.baner-img__title {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.08px;
  color: #fff;
}
@media (min-width: 48em) {
  .baner-img__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .baner-img__title {
    font-size: clamp( 0.875rem , 0.6964285714rem  +  0.8928571429vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .baner-img__title {
    font-size: 0.875rem;
  }
}
.baner-img__name-colection {
  align-self: center;
  color: #FFF;
  text-align: center;
  font-family: "Forum";
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  color: #fff;
}
@media (min-width: 71.625em) {
  .baner-img__name-colection {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .baner-img__name-colection {
    font-size: clamp( 1.3125rem , 0.6587469734rem  +  3.2687651332vw , 3rem );
  }
}
@media (max-width: 20em) {
  .baner-img__name-colection {
    font-size: 1.3125rem;
  }
}
@media (max-width: 29.99875em) {
  .baner-img__name-colection {
    align-self: center;
  }
}
.baner-img__watch-colection-link {
  align-self: flex-end;
  display: inline-flex;
  align-items: center;
  column-gap: 1.4375rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.08px;
  color: #fff;
}
@media (min-width: 48em) {
  .baner-img__watch-colection-link {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .baner-img__watch-colection-link {
    font-size: clamp( 0.875rem , 0.6964285714rem  +  0.8928571429vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .baner-img__watch-colection-link {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .baner-img__watch-colection-link:hover {
    text-decoration: underline;
  }
}
@media (max-width: 29.99875em) {
  .baner-img__watch-colection-link {
    align-self: center;
  }
}

.hero {
  background: rgb(199, 199, 199);
  background: linear-gradient(90deg, rgb(255, 255, 255) 60.9722%, rgb(39, 39, 39) 50%);
}
@media (max-width: 35.93625em) {
  .hero {
    background: linear-gradient(90deg, rgb(255, 255, 255) 46%, rgb(39, 39, 39) 46%);
  }
}
.hero__container {
  display: flex;
  align-items: flex-end;
  min-height: calc(100vh - 200px);
}
.hero__content {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 71.625em) {
  .hero__content {
    row-gap: 16.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .hero__content {
    row-gap: clamp( 11.4375rem , 9.3793886199rem  +  10.2905569007vw , 16.75rem );
  }
}
@media (max-width: 20em) {
  .hero__content {
    row-gap: 11.4375rem;
  }
}
.hero__other-info {
  display: flex;
  justify-content: space-between;
  column-gap: 1.375rem;
}
.hero__btn-language-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  align-self: flex-end;
}
.hero__btn-language {
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #C4C4C4;
  transition: color 0.2s ease;
}
.hero__btn-language._active {
  color: #272727;
}
@media (any-hover: hover) {
  .hero__btn-language:hover {
    color: #EFC58B;
  }
}
.hero__card-body {
  flex: 0 0 50%;
  text-align: right;
}
.hero__card-body h3,
.hero__card-body p {
  mix-blend-mode: difference;
}

.product-hero {
  display: flex;
}
@media (min-width: 90em) {
  .product-hero {
    column-gap: 5.875rem;
  }
}
@media (min-width: 62em) and (max-width: 90em) {
  .product-hero {
    column-gap: clamp( 1.125rem , -9.3928571429rem  +  16.9642857143vw , 5.875rem );
  }
}
@media (max-width: 62em) {
  .product-hero {
    column-gap: 1.125rem;
  }
}
@media (max-width: 61.99875em) {
  .product-hero {
    justify-content: space-between;
  }
}
@media (max-width: 47.99875em) {
  .product-hero {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}
@media (min-width: 47.99875em) {
  .product-hero__info {
    flex: 0 0 29.6875rem;
  }
}
@media (max-width: 35.93625em) {
  .product-hero__info {
    text-align: center;
  }
}
.product-hero__title {
  font-family: "Forum";
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  color: #272727;
}
@media (min-width: 71.625em) {
  .product-hero__title {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .product-hero__title {
    margin-bottom: clamp( 1.375rem , 0.6970338983rem  +  3.3898305085vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .product-hero__title {
    margin-bottom: 1.375rem;
  }
}
@media (min-width: 71.625em) {
  .product-hero__title {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .product-hero__title {
    font-size: clamp( 3.1875rem , 2.8727300242rem  +  1.5738498789vw , 4rem );
  }
}
@media (max-width: 20em) {
  .product-hero__title {
    font-size: 3.1875rem;
  }
}
@media (max-width: 39.375em) {
  .product-hero__title {
    color: #fff;
    mix-blend-mode: difference;
  }
}
.product-hero__link-more-product {
  width: 100%;
  font-family: "Segoe UI";
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  text-align: right;
  color: #272727;
  mix-blend-mode: normal;
  transition: color 0.2s ease;
}
.product-hero__link-more-product::before {
  content: "";
  position: relative;
  top: 0.125rem;
  height: 0.0625rem;
  background-color: #272727;
  mix-blend-mode: normal;
}
@media (min-width: 71.625em) {
  .product-hero__link-more-product::before {
    width: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .product-hero__link-more-product::before {
    width: clamp( 5.5625rem , 4.5697639225rem  +  4.9636803874vw , 8.125rem );
  }
}
@media (max-width: 20em) {
  .product-hero__link-more-product::before {
    width: 5.5625rem;
  }
}
@media (any-hover: hover) {
  .product-hero__link-more-product:hover {
    color: #EFC58B;
  }
  .product-hero__link-more-product:hover::before {
    background-color: #EFC58B;
  }
}
@media (min-width: 35.93625em) {
  .product-hero__link-more-product {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2.375rem;
  }
}
@media (max-width: 49.99875em) {
  .product-hero__link-more-product {
    color: #fff;
    mix-blend-mode: difference;
  }
  .product-hero__link-more-product::before {
    background-color: #fff;
    mix-blend-mode: difference;
  }
}
.product-hero__image-ibg {
  top: -0.875rem;
  align-self: center;
  flex: 0 0 28.853046595%;
  padding-bottom: 15.2329749104%;
}
@media (max-width: 47.99875em) {
  .product-hero__image-ibg {
    top: 0;
    width: 43.6314363144%;
    padding-bottom: 23.1%;
  }
}

.male-or-female__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.25rem;
  margin: 0 -0.625rem;
}
.male-or-female__item {
  flex: 0 0 50%;
  padding: 0 0.625rem;
}
@media (max-width: 47.99875em) {
  .male-or-female__item {
    flex-basis: 100%;
  }
}
.male-or-female__link-ibg {
  display: block;
  padding-bottom: 82.676056338%;
}
.male-or-female__link-ibg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.4);
}
@media (any-hover: hover) {
  .male-or-female__link-ibg:hover .male-or-female__subtitle::before {
    width: 100%;
  }
}
.male-or-female__body-category {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.male-or-female__subtitle {
  position: relative;
  top: -0.9375rem;
  font-weight: 300;
  line-height: normal;
  color: #fff;
}
@media (min-width: 71.625em) {
  .male-or-female__subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .male-or-female__subtitle {
    font-size: clamp( 1.1875rem , 1.0664346247rem  +  0.6053268765vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .male-or-female__subtitle {
    font-size: 1.1875rem;
  }
}
.male-or-female__subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: #fff;
  transition: all 0.2s ease;
}
.male-or-female__title {
  position: relative;
  top: -0.9375rem;
  font-family: "Forum";
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.92px;
  text-align: center;
  color: #fff;
}
@media (min-width: 71.625em) {
  .male-or-female__title {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .male-or-female__title {
    font-size: clamp( 3.1875rem , 2.8727300242rem  +  1.5738498789vw , 4rem );
  }
}
@media (max-width: 20em) {
  .male-or-female__title {
    font-size: 3.1875rem;
  }
}
.male-or-female__title::before {
  content: "";
  position: absolute;
  bottom: -1.4375rem;
  left: 50%;
  width: 8.125rem;
  height: 0.0625rem;
  background-color: #fff;
  transform: translate(-50%, 0);
}

.us-find {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.25rem;
  background-color: #272727;
}
.us-find__item-info {
  flex: 0 0 49.3055555556%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 47.99875em) {
  .us-find__item-info {
    flex-basis: 100%;
  }
}
.us-find__info-wrapper {
  padding: 0.9375rem;
}
@media (min-width: 61.99875em) {
  .us-find__info-wrapper {
    flex: 0 0 24.125rem;
  }
}
@media (max-width: 47.99875em) {
  .us-find__info-wrapper {
    flex-basis: 100%;
  }
}
.us-find__item-map {
  position: relative;
  flex: 1 1 auto;
  padding-bottom: 41.6666666667%;
}
.us-find__item-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 47.99875em) {
  .us-find__item-map {
    flex-basis: 100%;
    padding-bottom: 65.1041666667%;
  }
}
@media (max-width: 20em) {
  .us-find__item-map {
    padding-bottom: 100%;
  }
}
.us-find__subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: normal;
  color: #fff;
}
@media (min-width: 71.625em) {
  .us-find__subtitle {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .us-find__subtitle {
    margin-bottom: clamp( 1.8125rem , 1.0618946731rem  +  3.7530266344vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .us-find__subtitle {
    margin-bottom: 1.8125rem;
  }
}
.form-us-find {
  position: relative;
  border-bottom: 0.125rem solid #fff;
}
.form-us-find__wrapper-input {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}
.form-us-find__input {
  flex: 1 1 100%;
  background-color: transparent;
  color: #fff;
}
.form-us-find__btn-arrow {
  flex: 0 0 1.75rem;
}
.form-us-find._form-error {
  position: absolute;
  left: 0;
  bottom: 0;
}

.product__row {
  display: grid;
  grid-template-columns: 27.7777777778% 1fr 27.7777777778%;
  grid-template-rows: auto;
  gap: 1.25rem;
}
@media (max-width: 61.99875em) {
  .product__row {
    grid-template-columns: 50% 50%;
    justify-content: center;
  }
}
@media (max-width: 47.99875em) {
  .product__row {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
}
@media (max-width: 35.93625em) {
  .product__row {
    grid-template-columns: 93%;
  }
}
@media (max-width: 29.99875em) {
  .product__row {
    grid-template-columns: 90%;
  }
}
.product__big-card-ibg {
  padding-bottom: 136.6666666667%;
  grid-row: span 2;
}
@media (max-width: 35.93625em) {
  .product__big-card-ibg {
    order: 2;
  }
}
.product__card-big-body {
  position: absolute;
  left: 1.875rem;
  bottom: 1.25rem;
  z-index: 10;
}
.product__card-big-body p {
  color: #E7E7E7;
}

.sliders-page__title {
  padding-left: max(0.9375rem, (100% - 1116px) / 2);
  padding-right: max(0.9375rem, (100% - 1116px) / 2);
}
@media (min-width: 71.625em) {
  .sliders-page__title {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .sliders-page__title {
    margin-bottom: clamp( 1.25rem , -0.2027845036rem  +  7.2639225182vw , 5rem );
  }
}
@media (max-width: 20em) {
  .sliders-page__title {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 71.625em) {
  .sliders-page__slider {
    margin-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .sliders-page__slider {
    margin-bottom: clamp( 1.25rem , -0.2027845036rem  +  7.2639225182vw , 5rem );
  }
}
@media (max-width: 20em) {
  .sliders-page__slider {
    margin-bottom: 1.25rem;
  }
}
.sliders-page__wrapper-btns {
  padding-left: max(0.9375rem, (100% - 1116px) / 2);
  padding-right: max(0.9375rem, (100% - 1116px) / 2);
}

.btns-warapper-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.control-slider {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 2.6875rem;
}

.store-flagman__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 1.875rem;
}
.store-flagman__img-ibg {
  flex: 0 0 49.3055555556%;
  padding-bottom: 44.4444444444%;
}
@media (max-width: 47.99875em) {
  .store-flagman__img-ibg {
    flex-basis: 100%;
    padding-bottom: 83.3333333333%;
  }
}
.contact-flagman-store {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-flagman-store__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.9375rem;
}
@media (min-width: 61.99875em) {
  .contact-flagman-store__body {
    left: -0.75rem;
  }
}
@media (max-width: 47.99875em) {
  .contact-flagman-store__body {
    flex-grow: 1;
  }
}
.contact-flagman-store__title {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #272727;
}
@media (min-width: 71.625em) {
  .contact-flagman-store__title {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .contact-flagman-store__title {
    margin-bottom: clamp( 1.125rem , 0.8344430993rem  +  1.4527845036vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .contact-flagman-store__title {
    margin-bottom: 1.125rem;
  }
}
.contact-flagman-store__link-phone {
  color: #959595;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: normal;
  color: #959595;
  transition: color 0.2s ease;
}
@media (min-width: 71.625em) {
  .contact-flagman-store__link-phone {
    margin-bottom: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.625em) {
  .contact-flagman-store__link-phone {
    margin-bottom: clamp( 1.875rem , -0.0620460048rem  +  9.6852300242vw , 6.875rem );
  }
}
@media (max-width: 20em) {
  .contact-flagman-store__link-phone {
    margin-bottom: 1.875rem;
  }
}
@media (any-hover: hover) {
  .contact-flagman-store__link-phone:hover {
    color: #828080;
  }
}
.form-flagman {
  position: relative;
  border-bottom: 0.125rem solid #272727;
}
@media (min-width: 61.99875em) {
  .form-flagman {
    width: 17.5rem;
  }
}
.form-flagman__title {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #272727;
}
.form-flagman__wrapper-input {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
.form-flagman__input {
  flex: 1 1 100%;
}
.form-flagman__input::placeholder {
  font-size: 1.375rem;
  font-weight: 300;
  line-height: normal;
  color: #959595;
}
.form-flagman__btn-arrow {
  flex: 0 0 1.75rem;
}
.form-flagman__btn-arrow svg path {
  stroke: #272727;
}
.form-flagman._form-error {
  position: absolute;
  left: 0;
  bottom: 0;
}
.swiper {
  overflow: hidden;
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-slide {
  width: auto;
}
.swiper-slide img {
  max-height: 385px;
  height: 100%;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 8.5px 0 8.5px;
  border-radius: 50%;
  background-color: #656565;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  width: 51px;
  height: 29px;
}
@media (max-width: 767.98px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
